
header{
    background-color: yellow;    
}

#logoHeader {
    width: 37%;
}

.p-car {
    padding-left: 13%;
}

.p-carNeg {
    padding-left: -15%;
}

.bg-Car {
    background-color: crimson;
}

/*-----ESTILOS GENERALES-----*/
.pl-3{
    padding-left: 3%;
}




/*-----ESTILOS GENERALES-----*/


/*------Inicio Estilos Mone----*/
.orange:hover {
  color:orange;
  text-decoration:none;
}
.textoNegro {
  color: black;
}

nav div{
    background-color: #575151;
}
/*------Fin Estilos Mone----*/

